$stars-width: 2000;
@function multiple-box-shadow($n, $c) {
    $value: '#{random($stars-width)}px #{random($stars-width)}px #{$c}';
    @for $i from 2 through $n {
        $value: '#{$value}, #{random($stars-width)}px #{random($stars-width)}px #{$c}';
    }

    @return unquote($value);
}

$shadows-sm: multiple-box-shadow(700, '#FFF');
$shadows-md: multiple-box-shadow(200, '#FFF');
$shadows-lg: multiple-box-shadow(100, '#FFF');

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(#{-1 * $stars-width}px);
    }
}

@mixin stars($size, $speed, $shadows) {
    z-index: -1;
    width: $size;
    height: $size;
    background: transparent;
    animation: animStar $speed linear infinite;
    box-shadow: $shadows;

    &:after {
        content: ' ';
        position: absolute;
        top: '#{$stars-width}px';
        width: $size;
        height: $size;
        background: transparent;
        box-shadow: $shadows;
    }
}

#stars-sm {
    @include stars(1px, 50s, $shadows-sm);
}
#stars-md {
    @include stars(2px, 100s, $shadows-md);
}
#stars-lg {
    @include stars(3px, 150s, $shadows-lg);
}
